{% extends "base.html" %}

{% block title %}{{ t.add_mix_title }}{% endblock %}

{% block content %}
<h2>{{ t.add_mix_title }}</h2>

<p style="margin-bottom:15px;">
    <a href="/" style="margin-right:15px;">🏠 {{ t.nav_home }}</a>
    <a href="/mixes">⬅️ {{ t.nav_back_mixes }}</a>
</p>

{% if error_msg %}
    <p style="color:red;"><b>{{ error_msg }}</b></p>
{% endif %}

<form method="post" action="/add-mix" enctype="multipart/form-data">
  <p>
    {{ t.field_title }}<br>
    <input name="title" value="{{ title_value or '' }}" style="width:420px;">
  </p>

  <p>
    <span class="field-label-icon">
      <img src="{{ url_for('static', filename='icons/youtube.svg') }}" class="link-icon" alt="YouTube">
      YouTube
    </span><br>
    <input name="youtube" value="{{ youtube_value or '' }}" style="width:420px;">
  </p>

  <p>
    <span class="field-label-icon">
      <img src="{{ url_for('static', filename='icons/soundcloud.svg') }}" class="link-icon" alt="SoundCloud">
      SoundCloud
    </span><br>
    <input name="soundcloud" value="{{ soundcloud_value or '' }}" style="width:420px;">
  </p>

  <p>
    <span class="field-label-icon">
      <img src="{{ url_for('static', filename='icons/spotify.svg') }}" class="link-icon" alt="Spotify">
      Spotify
    </span><br>
    <input name="spotify" value="{{ spotify_value or '' }}" style="width:420px;">
  </p>

  <p>
    {{ t.field_tags }}<br>
    <div class="tagAutocompleteWrap" style="width:420px;">
      <input id="addMixTagsInput"
             name="tags"
             value="{{ tags_value or '' }}"
             placeholder="{{ t.field_tags_placeholder }}"
             style="width:100%;"
             autocomplete="off">
      <div id="addMixTagsSuggest" class="tagSuggestBox"></div>
    </div>
  </p>

  <script id="addMixAllTagsData" type="application/json">{{ all_tags|tojson }}</script>

  <p>
    {{ t.field_duration }}<br>
    <input name="duration" value="{{ duration_value or '' }}" placeholder="01:23:45" style="width:200px;">
  </p>

  <p>
    {{ t.field_cover }}<br>
    <input type="file" name="cover" accept="image/*">
  </p>

  <button type="submit">{{ t.btn_save }}</button>
</form>

<hr style="margin-top:25px;">

<p style="margin-top:15px;">
    <a href="/" style="margin-right:15px;">🏠 {{ t.nav_home }}</a>
    <a href="/mixes">⬅️ {{ t.nav_back_mixes }}</a>
</p>

{% endblock %}